:root {
  --srm_4:  #FDB335;
  --srm_6:  #F49708;
}

body {
  background: linear-gradient(0deg, rgba(244,151,8,1) 10%, rgba(253,179,53,1) 90%, rgba(255,255,255,1) 95%);
}

.selected::after {
  content: "🍺";
}

.free-square.selected::after {
  content: "🍻";
  opacity: 1;
}
